.sectio{
    background-image: url(./../images/ietdavv-hostel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1235px;
    height: 670px;
    margin-top: 60px;
    border-radius: 18px;
}

.bo{
    background-color: white;
    opacity: 0.8;
    border-radius: 0px 15px 0px 15px;
    margin: 25px 80px;
    padding-top: 50px;
    padding-bottom:50px;
    cursor: default;
    font-family: 'Roboto', sans-serif;
}

.p{
    padding-top: 2px;
    padding-left: 380px;
    font-size: 32px;
}


